// .create-post-cotnainer{
//   max-width: 500px;
//   position: relative;

//   .create-post-form{
//     display: flex;
//     flex-direction: column;

//     .create-post-btn{

//     }
//   }

// }

.create-post-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;

  // .create-post-btn{
  //   width: 10%;
  //   display: flex;
  //   text-align: center;
  //   justify-content: center;
  //   padding: 1rem 1rem;
  // }
}
.feed-container{
  .feed-title{
    text-align: center;
    margin: 12px;
  }
  
  .posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// .overlay{
//   background-color: rgba(0,0,0,.5);
//   position: fixed;
//   width: 100%;
//   height: 100%;
// }