.single-post-container{
  position: relative;
  width: 60%;
  // border: 1px solid black;
  min-height: 7rem;
  margin-top: 1.2rem;
  padding: 0.8rem;
  border-radius: 8px;
  box-shadow: 0px 0px 7px 0px;
  background-color: #fff;

  .created-by-container{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    // margin-inline-end: 15px;

    .created-by-layout{
      padding-inline-end: 8px;
      p{
        margin: 0;

      }

      h3{
        display: flex;
        justify-content: end;
      }
    }

    .member-avatar{
      display: flex;
      justify-content: center;
      align-items: center;
      background: lightblue;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 10px;
      
    }
  }

  h2{
    text-align: center;
    overflow-wrap: break-word;
  }

  .post-content{
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 0 45px;
    overflow-wrap: break-word;
  }

  .image-container{
    // width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      margin: 10px 0;
      width: 80%;
    }
  }
  .post-options-container{
    display: flex;
    justify-content: end;
  
    .like-container{
      display: flex;
      width: 120px;
      padding: 7px 5px;
      cursor: pointer;
      border-radius: 7px;

      .like-img-container{
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline-end: 1px;
        
        flex-grow: 1;
        .like-img{
          width: 70%;
          object-fit: contain;
          // width: 20px;
          // size: 10%;
        }
      }
        
      .like-btn{
        border: 0;
        flex-grow: 2;
        display: flex;
        align-items: center;
        margin: 0;
        margin-block-start: 1px;
        font-weight: bold;
      }
      
    }

  }

  .edit-btn-icon{
    width: 15px;
    position: relative;
    right: 5px;
  }

  .delete-btn-icon{
    width: 18px;
    position: relative;
    right: 5px;
  }

  .like-container:hover{
    background-color: lightgray;
  }

  .thin-hr{
    border-color: rgb(131 128 128 / 52%);
    margin: 10px 0;
  }

  .red{
    color: red;
  }
}


